html {
  background-color: #fff;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 2em;
  font-size: 1.25em;
  height: 100%;
}

.wrapper {
  /*add display:flex and set justify-content to space-between*/
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.div-1, .div-2, .div-3 {
  /*give the divs a width of 30%, add display:flex, set justify-content and align-items to center*/
  color: #fff;
  line-height: 1.5em;
  font-size: 1.6em;
  background-color: #f16059;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}